%ul.nav.nav-tabs
  = nav_item "Exercises", cohort_exercises_path(@cohort)
  = nav_item "Class Notes", cohort_class_notes_path(@cohort)
  = nav_item "Students", cohort_students_path(@cohort)
  = nav_item "Info", cohort_info_path(@cohort)
  - if @cohort.pair_feedback_url?
    = nav_item "Pair Feedback", @cohort.pair_feedback_url
  = nav_item "Personal Project", cohort_personal_project_path(@cohort)
  = nav_item "Curriculum", @cohort.curriculum_site_url

%br
