.page-header
  - if @user.pivotal_tracker_token && @project && @project.tracker_url?
    .pull-right
      = link_to "Add to Tracker", add_to_tracker_user_epic_path(@user, @epic), class: "btn btn-primary", method: :post
  %h2 #{@epic.class_project.name} #{@epic.name}

%table.table
  %thead
    %tr
      %th Tracker ID
      %th Story
      %th Description
  %tbody
    - @epic.stories.ordered.each do |story|
      %tr
        %td
          - if id = @student_stories[story.id].try(:pivotal_tracker_id)
            = link_to id, "https://www.pivotaltracker.com/story/show/#{id}", target: :_blank
        %td= story.title
        %td= markdownify story.description

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Wireframes
  .panel-body
    = markdownify(@epic.wireframes)
