= render 'student/sub_nav'

.page-header
  %h1 Edit your Personal Project

= form_for [@cohort, @personal_project], html: {class: "form-horizontal"} do |f|
  = errors_for(f)

  .form-group
    = f.label :name, class: "col-sm-2 control-label"
    .col-sm-4
      = f.text_field :name, class: "form-control"

  .form-group
    = f.label :description, class: "col-sm-2 control-label"
    .col-sm-4
      = f.text_area :description, class: "form-control"

  .form-group
    = f.label :github_repo_name, "GitHub Repo name", class: "col-sm-2 control-label"
    .col-sm-4
      = f.text_field :github_repo_name, class: "form-control"

  .form-group
    = f.label :tracker_url, "Tracker Project", class: "col-sm-2 control-label"
    .col-sm-4
      = f.text_field :tracker_url, class: "form-control"

  .form-group
    = f.label :production_url, "Production URL", class: "col-sm-2 control-label"
    .col-sm-4
      = f.text_field :production_url, class: "form-control", placeholder: "(i.e. Heroku)"

  .col-sm-offset-2
    = f.submit "Save", class: 'btn btn-primary'
