%h1= @personal_project

%p= @personal_project.name
%p= @personal_project.description
%p= link_to "GitHub", @personal_project.github_repo_url
%p= link_to "Tracker", @personal_project.tracker_url
%p= link_to "Production URL", @personal_project.production_url

%p= link_to "Edit", edit_student_personal_project_path(@personal_project)