= render 'student/sub_nav'

.page-header
  .pull-right= link_to "Edit", edit_cohort_personal_project_path(@cohort), :class => "btn btn-info"
  %h1= @personal_project.name

%p= @personal_project.description

- if @personal_project.github_repo_name?
  %p= link_to "GitHub", @personal_project.github_repo_url

- if @personal_project.tracker_url?
  %p= link_to "Tracker", @personal_project.tracker_url

- if @personal_project.production_url?
  %p= link_to "Production URL", @personal_project.production_url
