.page-header
  .pull-right
    = link_to new_instructor_curriculum_curriculum_unit_path(@curriculum), class: 'btn btn-info' do
      %i.glyphicon.glyphicon-plus
      Create Curriculum Unit

  %h2= @curriculum.name

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Description
  .panel-body
    = markdownify(@curriculum.description)

.row
  .col-md-12
    %table.table.table-bordered{data: {behavior: :tablednd, reorder_url: reorder_instructor_curriculum_curriculum_units_path(@curriculum)}}
      %thead
        %th Name
        %th Objectives
        %th Assessment
        %th Rationale
        %th Essential Questions
        %th Activities
      %tbody
        - @curriculum_units.each do |curriculum_unit|
          %tr{data: {row_id: curriculum_unit.id}}
            %td
              = link_to curriculum_unit.name, instructor_curriculum_curriculum_unit_path(@curriculum, curriculum_unit)
              (#{link_to 'edit', edit_instructor_curriculum_curriculum_unit_path(@curriculum, curriculum_unit)})
            %td= markdownify curriculum_unit.objectives
            %td= markdownify curriculum_unit.assessment
            %td= markdownify curriculum_unit.rationale
            %td= markdownify curriculum_unit.essential_questions
            %td
              = markdownify curriculum_unit.activities
              - if curriculum_unit.lesson_plans.present?
                %strong Lesson Plans
                %ul.list-unstyled
                  - curriculum_unit.lesson_plans.each do |lesson_plan|
                    %li= link_to lesson_plan.name, instructor_lesson_plan_path(lesson_plan)
