.page-header
  .pull-right
    = link_to instructor_curriculum_curriculum_unit_planned_lessons_path(@curriculum, @curriculum_unit), class: "btn btn-info" do
      Manage Lessons
    = link_to new_instructor_curriculum_curriculum_unit_path(@curriculum), class: "btn btn-info" do
      %i.glyphicon.glyphicon-plus
      New Curriculum Unit
    = link_to edit_instructor_curriculum_curriculum_unit_path(@curriculum, @curriculum_unit), class: "btn btn-info" do
      %i.glyphicon.glyphicon-pencil
      Edit

  %h1 #{@curriculum_unit.name}

%ol.breadcrumb
  %li
    = link_to "Curriculum Units", instructor_curriculum_curriculum_units_path(@curriculum)
  %li.active
    = @curriculum_unit.name

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Objectives
  .panel-body
    = markdownify(@curriculum_unit.objectives)

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Assessment
  .panel-body
    = markdownify(@curriculum_unit.assessment)

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Essential Questions
  .panel-body
    - if @curriculum_unit.essential_questions?
      = markdownify(@curriculum_unit.essential_questions)
    - else
      %p.lead There are no essential questions yet

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Rationale
  .panel-body
    - if @curriculum_unit.rationale?
      = markdownify(@curriculum_unit.rationale)
    - else
      %p.lead There is no rationale yet

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Activities
  .panel-body
    - if @curriculum_unit.activities?
      = markdownify(@curriculum_unit.activities)
    - else
      %p.lead There are no activities yet

.panel.panel-default#lesson-plans
  .panel-heading
    .pull-right
      = link_to instructor_curriculum_curriculum_unit_planned_lessons_path(@curriculum, @curriculum_unit) do
        Add / Remove Lesson Plans
    %h3.panel-title
      Lesson Plans
  - if @curriculum_unit.planned_lessons.present?
    %table.table.table-bordered.table-striped{data: {behavior: :tablednd, reorder_url: reorder_instructor_curriculum_curriculum_unit_planned_lessons_path(@curriculum, @curriculum_unit)}}
      %thead
        %tr
          %th Name
          %th
      %tbody
        - @curriculum_unit.planned_lessons.ordered.each do |planned_lesson|
          %tr{id: planned_lesson.id}
            %td= link_to planned_lesson.lesson_plan.name, instructor_lesson_plan_path(planned_lesson.lesson_plan, curriculum_unit_id: @curriculum_unit.id)
            %td
              .pull-right
                = link_to "remove",
                          instructor_curriculum_curriculum_unit_planned_lesson_path(@curriculum, @curriculum_unit, planned_lesson),
                          method: :delete,
                          data: {confirm: "Are you sure?"}
  - else
    .panel-body
      %p.lead There are no lesson plans yet.
