= form_for([:instructor, @cohort]) do |f|
  = errors_for(f)

  %p
    = f.label :name
    = f.text_field :name

  %p
    = f.label :start_date
    = f.date_field :start_date

  %p
    = f.label :end_date
    = f.date_field :end_date

  %p
    = f.label :google_maps_location
    = f.text_field :google_maps_location

  %p
    = f.label :directions
    = f.text_field :directions

  %p
    = f.label :pair_feedback_url
    = f.text_field :pair_feedback_url

  %p
    = f.label :employment_phase
    = f.check_box :employment_phase

  %p
    = f.label :hero
    = f.file_field :hero

  - if @cohort.hero.present?
    = image_tag @cohort.hero.url


  = f.submit "Save"
