= form_for  [:instructor, @cohort], html: {class: "form-horizontal"} do |f|
  = errors_for(f)

  .form-group
    = f.label :name, class: "col-sm-2 control-label"
    .col-sm-4
      = f.text_field :name, class: "form-control"

  .form-group
    = f.label :curriculum, class: "col-sm-2 control-label"
    .col-sm-4
      = f.collection_select :curriculum_id, Curriculum.ordered, :id, :name, {include_blank: true}, class: "form-control"

  .form-group
    = f.label :start_date, class: "col-sm-2 control-label"
    .col-sm-4
      = f.date_field :start_date, class: "form-control"

  .form-group
    = f.label :end_date, class: "col-sm-2 control-label"
    .col-sm-4
      = f.date_field :end_date, class: "form-control"

  .form-group
    = f.label :google_maps_location, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :google_maps_location, class: "form-control"

  .form-group
    = f.label :directions, class: "col-sm-2 control-label"
    .col-sm-6
      = f.text_area :directions, class: "form-control"

  .form-group
    = f.label :pair_feedback_url, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :pair_feedback_url, class: "form-control"

  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        %label
          = f.check_box :showcase
          Showcase

  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        %label
          = f.check_box :show_employment_ribbon
          Show employment ribbon

  .form-group
    = f.label :calendar_url, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :calendar_url, class: "form-control"

  .form-group
    = f.label :prereqs, class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :prereqs, rows: 20, class: "form-control"

  .form-group
    = f.label :hero, class: "col-sm-2 control-label"
    .col-sm-4
      = f.file_field :hero, class: "form-control"

  - if @cohort.hero.present?
    .form-group
      .col-sm-offset-2.col-sm-10
        = image_tag @cohort.hero.url, class: "img-responsive"

  .form-group
    .col-md-offset-2.col-md-6
      = f.submit "Save", class: "btn btn-primary"
