%h2 Admin Job Dashboard
.action-table
  %table
    %thead.job
      %tr
        %th Company Name
        %th Application Due Date
        %th Location
        %th Salary
        %th Job Title
        %th Application Type
        %th Visibility
    %tbody
      - @jobs.each do |job|
        %tr
          %td= link_to job.company.name, job
          %td= job.application_due_date
          %td= job.location
          %td= job.salary
          %td= job.job_title
          %td= job.application_type
          %td= job.visibility
