%h2 gSchool Employment

%h2 Available Jobs to Apply to:

.action-table
  %table.jobs
    %thead
      %tr
        %th Job Title
        %th Company Name
        %th Location
        %th Salary
        %th Contact
        %th Due Date
        %th Add Job
    %tbody
      - jobs.each do |job|
        %tr
          %td= link_to_if job.description_link.present?, job.job_title, job.description_link
          %td= link_to job.company.name, job
          %td= job.location
          %td= job.salary
          %td= mail_to job.company.contact_email, job.company.contact_name
          %td= job.application_due_date
          %td= link_to(job_applications_path(job), method: :post, class: 'add-job') { icon('plus') }

  .actions
    = link_to "Add a New Job", new_job_path, class: "button"
    = link_to "View My Dashboard", job_dashboard_path, class: "button"
    = link_to "Admin Dashboard", admin_job_dashboard_path, class: "button"


