%h1 My Job Dashboard
%h2 Jobs I Will Apply For:
.action-table
  %table.jobs_to_apply_for
    %thead.job
      %tr
        %th Company Name
        %th Application Due Date
        %th Company Location
        %th Contact
        %th Salary
        %th Job Title
        %th Apply
    %tbody
    - @pending_applications.each do |application|
      - job = application.job
      %tr
        %td= job.company.name
        %td= job.application_due_date
        %td= job.location
        %td= mail_to job.company.contact_email, job.company.contact_name
        %td= job.salary
        %td= job.job_title
        %td
          - if job.application_type == "Direct Application"
            = link_to 'Apply', job_application_confirm_path(application_id: application.id, job_id: job.id), data: {confirm: "You need to email your resume to the contact directly. This confirms that you have done that."}, method: :post
          - else
            = link_to 'Apply', edit_job_application_path(id: application.id, job_id: job.id)
          = link_to([job, application], { method: :delete, class: 'remove-job-action' } ){ icon('times') }

%h2 Jobs I Have Applied For:
.action-table
  %table.applied_for
    %thead.job
      %tr
        %th Company Name
        %th Application Due Date
        %th Company Location
        %th Contact
        %th Salary
        %th Job Title
        %th Application Type
        %th Actions
    %tbody
      - @completed_applications.each do |application|
        - job = application.job
        %tr
          %td= job.company.name
          %td= job.application_due_date
          %td= job.location
          %td= mail_to job.company.contact_email, job.company.contact_name
          %td= job.salary
          %td= job.job_title
          %td= job.application_type
          %td
            = link_to(edit_job_application_path(job, application), id: "edit-application#{application.id}-action"){ icon('pencil') }
            = link_to(application.resume_url, id: "download-application#{application.id}-action", download: "download") { icon('download') }
