.page-header
  .pull-right
    = link_to new_instructor_lesson_plan_path(curriculum_unit_id: params[:curriculum_unit_id]), class: "btn btn-info" do
      %i.glyphicon.glyphicon-plus
      New Lesson Plan
    = link_to edit_instructor_lesson_plan_path(@lesson_plan, curriculum_unit_id: params[:curriculum_unit_id]), class: "btn btn-info" do
      %i.glyphicon.glyphicon-pencil
      Edit

  %h1 #{@lesson_plan.name}


- if params[:curriculum_unit_id].present?
  %ol.breadcrumb
    %li= link_to "Curriculums", instructor_curriculums_path
    %li= link_to @curriculum_unit.curriculum.name, instructor_curriculum_curriculum_units_path(@curriculum_unit.curriculum)
    %li= link_to @curriculum_unit.name, instructor_curriculum_curriculum_unit_path(@curriculum_unit.curriculum, @curriculum_unit)
    %li
      = link_to instructor_curriculum_curriculum_unit_planned_lessons_path(@curriculum_unit.curriculum, @curriculum_unit) do
        Manage Lessons
    %li.active= @lesson_plan.name
- else
  %ol.breadcrumb
    %li= link_to "Lesson Plans", instructor_lesson_plans_path
    %li.active= @lesson_plan.name

%p
  - @lesson_plan.tag_list.each do |tag|
    = link_to tag, instructor_lesson_plans_path(filter: tag), class: "label label-info"

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Objectives
  .panel-body
    - if @lesson_plan.objectives?
      = markdownify(@lesson_plan.objectives)
    - else
      %p.lead There are no objectives yet

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Assessment
  .panel-body
    - if @lesson_plan.assessment?
      = markdownify(@lesson_plan.assessment)
    - else
      %p.lead There is no assessment yet

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Activity
  .panel-body
    - if @lesson_plan.activity?
      = markdownify(@lesson_plan.activity)
    - else
      %p.lead There is no activity yet

.panel.panel-default
  .panel-heading
    %h3.panel-title
      Description
  .panel-body
    - if @lesson_plan.description?
      = markdownify(@lesson_plan.description)
    - else
      %p.lead There is no description yet

- if @cohorts.present?
  - if @cohorts.length == 1
    %h3 Paste the following to seed your #{link_to "Daily Plan", cohort_daily_plans_path(@cohorts.first)}:
  - else
    %h3 Paste the following to seed your class notes for:
    %ul
      - @cohorts.each do |cohort|
        %li= link_to cohort.name, cohort_daily_plans_path(cohort)

- markdown = [@lesson_plan.objectives, @lesson_plan.activity].join("\n\n")
.panel.panel-default
  .panel-heading
    %h3.panel-title
      .pull-right
        %a{"href" => "", data: {clipboard_text: markdown, prevent_jump: true}} Copy Text
      Markdown for Class Notes
  .panel-body
    %pre= markdown

.page-header
  %h3 Lessons

= render "instructor/lessons/form"

%table.table.table-striped
  %thead
    %tr
      %th Cohort
      %th Date
      %th
  %tbody
    - @lesson_plan.lessons.each do |lesson|
      %tr
        %td= lesson.cohort.name
        %td= link_to lesson.date.to_formatted_s(:long), cohort_daily_plan_path(lesson.cohort, lesson.date.strftime("%m/%d/%Y"))
        %td
          .text-right
            = link_to('Remove', instructor_lesson_plan_lesson_path(@lesson_plan, lesson, curriculum_unit_id: params[:curriculum_unit_id]), method: :delete, data: {confirm: "Are you sure"}, class: 'btn btn-default')
