= render 'student/sub_nav', tab: @date == Date.today ? :todays_class_notes : :class_notes

.breadcrumb
  %li= link_to "Class Notes", cohort_class_notes_path
  %li.active= @date.strftime("Class Notes - %B #{@date.day.ordinalize}, %Y")

- if @content
  .github-content
    = @content.html_safe
- else
  .jumbotron
    %h2 Class notes could not be found for today
    %p.lead
      Please visit
      - url = "#{@cohort.curriculum_site_url}/tree/master/class-notes"
      = link_to url, url
