= render 'student/sub_nav', tab: @date == Date.today ? :todays_class_notes : :class_notes

%ul.breadcrumb
  %li= link_to "Class Notes", cohort_class_notes_path
  %li.active= @date.strftime("Class Notes - %B #{@date.day.ordinalize}, %Y")

- if @content
  .row
    .col-md-9
      .github-content
        = @content.html_safe
    .col-md-3
      %ul.nav
        %li
          = link_to "View on Github",
                    "https://github.com/#{@cohort.class_notes_repo_name}/blob/master/class-notes/#{@date}.md",
                    target: :_blank
        - @nav_links.each do |link|
          %li= link_to link[:text], anchor: link[:name]
- else
  .jumbotron
    %h2 Class notes could not be found for today
