- content_for(:outside_main) do
  .hero{:style => "background-image: url(#{@cohort.hero_url}), linear-gradient(10deg, #844507, #d37b05), none;"}
    .hero-inner
      .hero-copy
        %h1= @cohort.name

%ul.showcase
  - @cohort.users.order(:first_name).each do |student|
    %li
      = link_to student_path(student), :class => "container" do
        .image
          = image_tag student.avatar_url(:card)
        .header
          %p= student.full_name
