= form_for [:instructor, @exercise], html: {class: "form-horizontal"} do |f|
  = bootstrap_errors_for(f)

  .form-group
    = f.label :name, class: "col-sm-2 control-label"
    .col-sm-4
      = f.text_field :name, class: "form-control"

  .form-group
    = f.label :github_repo, "GitHub Repo", class: "col-sm-2 control-label"
    .col-sm-4
      = f.text_field :github_repo, class: "form-control"

  .form-group
    = f.label :tag_list, "Tags (separated by commas)", class: "col-sm-2 control-label"
    .col-sm-4
      = f.text_field :tag_list, class: "form-control"

  .col-md-offset-2
    = f.submit value: submit_text, class: 'btn btn-primary'
