%section
  %h2 gSchool Exercises

  .action-table
    .filter
      = form_tag({}, {method: :get}) do
        = label_tag "filter", "Filter by"
        = text_field_tag "filter", params[:filter], id: "filter"
        .actions
          = submit_tag "Filter"
          = link_to "Clear Filters", instructor_exercises_path, class: "cancel"

  .action-table
    .exercise-list
      - @exercises.each do |exercise|
        .exercise
          .link= link_to exercise.name, exercise.github_repo_url
          .tags= exercise.tag_list
          .edits= link_to(edit_instructor_exercise_path(exercise), class: 'edit-exercise') { icon('pencil') }

    .actions
      = link_to 'Create Exercise', new_instructor_exercise_path, class: 'button'
