.page-header
  .pull-right
    = link_to 'Create Exercise', new_instructor_exercise_path, class: 'btn btn-info'

  %h2 gSchool Exercises

  = form_tag({}, method: :get, class: "form-inline") do
    .form-group
      = label_tag "filter", "Filter by", class: "sr-only"
      = text_field_tag "filter", params[:filter], id: "filter", class: "form-control", placeholder: 'Filter by...'
    = submit_tag "Filter", class: 'btn btn-primary'
    = link_to "Clear Filters", instructor_exercises_path, class: 'btn btn-default'

.row
  .col-md-12
    %table.table
      %thead
        %th Exercise Name
        %th Tags
        %th Actions
      %tbody
        - @exercises.each do |exercise|
          %tr
            %td= link_to exercise.name, exercise.github_repo_url
            %td
              - exercise.tag_list.each do |tag|
                = link_to tag, instructor_exercises_path(filter: tag), class: "label label-info"
            %td
              = link_to edit_instructor_exercise_path(exercise) do
                %i.glyphicon.glyphicon-pencil
