= form_for [:instructor, @curriculum, @curriculum_unit, @planned_lesson], html: {class: "form-horizontal"} do |f|
  = errors_for(f)

  .form-group
    %span.col-sm-2.control-label Lesson Plan
    .col-sm-4
      - @lesson_plans.each do |lesson_plan|
        .checkbox
          %label
            = f.radio_button :lesson_plan_id, lesson_plan.id
            = lesson_plan.name

  .form-group
    = f.label :position, class: "col-sm-2 control-label"
    .col-sm-4
      = f.number_field :position, class: "form-control", placeholder: "Suggested position: #{(@last_position || 0) + 10}"

  .form-group
    .col-md-offset-2.col-md-4
      = f.submit class: 'btn btn-primary'
      - path = instructor_curriculum_curriculum_unit_path(@curriculum, @curriculum_unit)
      = link_to "cancel", path, class: "btn btn-default"
