.page-header
  %h1 Edit Lesson Plan on #{@curriculum_unit.name}

%ol.breadcrumb
  %li= link_to "Curriculums", instructor_curriculums_path
  %li= link_to @curriculum_unit.name_was, instructor_curriculum_curriculum_unit_path(@curriculum, @curriculum_unit)
  %li.active Edit Lesson Plan

= render 'form'

.row
  .col-md-10.col-md-offset-2.text-center
    .well
      = link_to "Delete",
                instructor_curriculum_curriculum_unit_path(@curriculum, @curriculum_unit),
                method: :delete,
                data: {confirm: "Are you sure?"},
                class: "btn btn-danger"
