%section
  = link_to "Back to cohort", instructor_cohort_path(params[:cohort_id])
  %h1= @student.full_name
  = image_tag(@student.avatar.url, class: "avatar")

%section
  %dl
    %dt Email:
    %dd= @student.email

    %dt Address:
    %dd
      %p= @student.address_1
      %p= @student.address_2
      %p= "#{@student.city}, #{@student.state}"
      %p= @student.zip_code

    %dt Phone:
    %dd= @student.phone

    %dt Twitter:
    %dd
      - if @student.twitter.present?
        = link_to @student.twitter, @student.twitter_url

    %dt Linkedin:
    %dd
      - if @student.linkedin.present?
        = link_to @student.linkedin, @student.linkedin

    %dt Blog:
    %dd
      - if @student.blog.present?
        = link_to @student.blog, @student.blog
    %dt Shirt Size:
    %dd= @student.shirt_size

- if @student.personal_project
  %section
    %h2 Personal Project
    %dl
      %dt Name:
      %dd= @student.personal_project.name

      %dt Description:
      %dd= @student.personal_project.description

      %p= link_to "GitHub", @student.personal_project.github_repo_url
      %p= link_to "Tracker", @student.personal_project.tracker_url
      %p= link_to "Production", @student.personal_project.production_url

%section
  %h2 Exercises
  .exercises
    %h3 Completed Exercises
    %ul
    - @student.completed_exercises.each do |exercise|
      %li= exercise.name
  .exercises
    %h3 Incomplete Exercises
    %ul
    - @student.incomplete_exercises.each do |exercise|
      %li= exercise.name

  = link_to "Edit", edit_instructor_cohort_student_path(params[:cohort_id], params[:id])
