%ol.breadcrumb
  %li
    = link_to "Cohorts", instructor_cohorts_path
  %li
    = link_to @cohort.name, instructor_cohort_path(@cohort)
  %li.active
    = @student.full_name

.page-header
  = link_to "Edit", edit_instructor_cohort_student_path(params[:cohort_id], params[:id]), class: "btn btn-info pull-right"
  %h1= @student.full_name

.row
  .col-md-4
    = image_tag(@student.avatar.url, style: "max-width: 100%;")

  .col-md-8
    %h2 Personal Info
    %dl.dl-horizontal
      %dt Email
      %dd= mail_to @student.email, @student.email

      %dt Address 1
      %dd= @student.address_1

      %dt Address 2
      %dd= @student.address_2

      %dt City / State
      %dd= [@student.city, @student.state].reject(&:blank?).join(", ")

      %dt Zip
      %dd= @student.zip_code

      %dt Phone
      %dd= @student.phone

      %dt Twitter
      %dd
        - if @student.twitter.present?
          = link_to @student.twitter, @student.twitter_url

      %dt LinkedIn
      %dd
        - if @student.linkedin.present?
          = link_to @student.linkedin, @student.linkedin

      %dt Blog
      %dd
        - if @student.blog.present?
          = link_to @student.blog, @student.blog

      %dt Shirt Size
      %dd= @student.shirt_size

      %dt Employer
      %dd= @student.employer

    - if @student.personal_project
      %h2 Personal Project
      %dl.dl-horizontal
        %dt Name:
        %dd= @student.personal_project.name

        %dt Description:
        %dd= @student.personal_project.description

        %dt Github:
        %dd= link_to @student.personal_project.github_repo_url, @student.personal_project.github_repo_url

        %dt Tracker:
        %dd= link_to @student.personal_project.tracker_url, @student.personal_project.tracker_url

        %dt Production:
        %dd= link_to @student.personal_project.production_url, @student.personal_project.production_url

    %h2 gCamp
    %dl.dl-horizontal
      %dt Tracker URL:
      %dd
        - if @student.gcamp_tracker_url?
          = link_to @student.gcamp_tracker_url, @student.gcamp_tracker_url

      %dt Production URL:
      %dd
        - if @student.gcamp_url?
          = link_to @student.gcamp_url, @student.gcamp_url


.row
  .col-md-12
    %h2 Exercises

    %section.complete-exercises
      %h3 Completed Exercises
      - if @student.completed_exercises.present?
        %ul
          - @student.completed_exercises.each do |exercise|
            %li= exercise.name
      - else
        .well
          There are no completed exercises

    %section.incomplete-exercises
      %h3 Incomplete Exercises
      - if @student.incomplete_exercises.present?
        %ul
          - @student.incomplete_exercises.each do |exercise|
            %li= exercise.name
      - else
        .well
          There are no incomplete exercises
