%h2 gSchool Employment

%h2 Available Jobs to Apply to:

.action-table
  %table.job_opportunities
    %thead
      %tr
        %th Job Title
        %th Company Name
        %th Location
        %th Salary
        %th Contact
        %th Due Date
        %th Add Job
    %tbody
      - job_opportunities.each do |job_opportunity|
        %tr
          %td= link_to_if job_opportunity.description_link.present?, job_opportunity.job_title, job_opportunity.description_link
          %td= link_to job_opportunity.company.name, job_opportunity
          %td= job_opportunity.location
          %td= job_opportunity.salary
          %td= mail_to job_opportunity.company.contact_email, job_opportunity.company.contact_name
          %td= job_opportunity.application_due_date
          %td= link_to(job_opportunity_applications_path(job_opportunity), method: :post, class: 'add-job') { icon('plus') }

  .actions
    = link_to "Add a New Opportunity", new_job_opportunity_path, class: "button"
    = link_to "View My Dashboard", job_dashboard_path, class: "button"
    = link_to "Admin Dashboard", admin_job_dashboard_path, class: "button"


