!!!
%html
  %head
    %title
      = content_for(:title) || "Students"
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic'
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    %meta(name="viewport" content="width=device-width, initial-scale=1")
  %body
    #body_container
      %header.navigation
        .navigation-wrapper
          .navigation-tools
            - if user_session.signed_in?
              = link_to t('nav.sign_out'), logout_path
            - else
              = link_to t('nav.sign_in'), sign_in_using_github_path
          .logo
            = link_to get_home_path, class: 'logo' do
              = image_tag(image_path('gschool_logo-large.png'), class: 'header-logo-image')

          - if user_session.signed_in?
            .nav
              %ul#navigation-menu
                - if current_user.instructor?
                  %li= nav_item t('nav.instructors'), instructor_cohorts_path
                  %li= nav_item t('nav.exercises'), instructor_exercises_path
                  %li= nav_item 'Lesson Plans', instructor_lesson_plans_path
                  %li= nav_item 'Users', instructor_users_path
                = nav_item "Personal Info", personal_information_path

      - if flash.any?
        #flash
          - flash.each do |name, msg|
            = content_tag :div, msg, class: "flash-#{name}"
      = content_for(:outside_main)
      %main
        = yield
      %footer
        %section
          -# .github
          -#   = link_to image_tag("GitHub-Mark-32px.png"), "https://github.com/gSchool/students.gschool.it", target: "_blank"

    = javascript_include_tag "application"
    = content_for(:javascripts)
