- current_user = user_session.current_user
%ul#navigation-menu
  - if current_user.is?(User::INSTRUCTOR)
    = nav_item t('nav.instructors'), instructor_dashboard_path
    = nav_item t('nav.exercises'), instructor_exercises_path
  - else
    - if current_user.cohort
      = nav_item "Curriculum", current_user.cohort.curriculum_site_url
    = nav_item "Cohort", student_students_path
  = nav_item "Personal Info", personal_information_path
